Repository perescassiano/NodeJS-CA-TDD-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, standard --fix, npm run test:staged

.lintstagedrc.json:

{
    "*.ts": [
        "prettier --write",
        "eslint"
    ],
    "*.js": [
        "standard --fix",
        "npm run test:staged",
        "git add"
    ],
    "*.html": [
        "prettier --write"
    ],
    "*.scss": "prettier --write"
}

LoginRouter tests privoded for request body
  .eslintrc.js
  .lintstagedrc.json
  coverage/clover.xml
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sorter.js
  jest.config.js
  login.js
  package.json
  src/presentation/routers/login-router.spec.js
  test.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter tests privoded for request body and server errors
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Refactored code divided into helpers and routers
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/http-responses.js.html
  coverage/lcov-report/missing-param-error.js.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/missing-param-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Move AuthUseCase class to a AuthsUseCaseSpy class
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter returns 401 if invalid credentials provided
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Error 401 refactored to unauthorized-error.js file
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/unauthorized-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Validating AuthUseCase
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter returns 200 if valid credentials are sent
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter returns 200 if valid credentials are sent and refatored
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Converting to async methods
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/server-error.js
  src/presentation/helpers/unauthorized-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Login Router MissingParamError modified
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Login Router MissingParamError modified
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov.info
  package.json
Due: none

LoginRouter returns 400 if email is invalid
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/invalid-param-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter returns 500 if invalid EmailValidator provided
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

LoginRouter calls EmailValidator with valid email
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Added Jest configs
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  package.json
Due: prettier --write

Add pre-push to Husky with jest:ci script
  .huskyrc.json
  package.json
Due: none

Add pre-push to Husky with jest:ci script
  .husky/pre-commit
Due: none

Add pre-push to Husky with jest:ci script
  .husky/pre-commit
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Add pre-push to Husky with jest:ci script
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  package.json
Due: prettier --write

Folder coverage added to .gitignore file
  .gitignore
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Folder coverage added to .gitignore file
  .huskyrc.json
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Folder coverage added to .gitignore file
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Folder coverage added to .gitignore file
  .husky/pre-push
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Folder coverage added to .gitignore file
  .husky/pre-commit
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Added pre-push file
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: prettier --write

Added jest scripts config
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  package.json
Due: prettier --write

Create custom configs and integration tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  jest-integration-config.js
  jest-unit-config.js
  package.json
Due: prettier --write, standard --fix, npm run test:staged

Errors moved to a custom folder
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/missing-param-error.js.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  jest.config.js
  src/presentation/errors/index.js
  src/presentation/errors/invalid-param-error.js
  src/presentation/errors/missing-param-error.js
  src/presentation/errors/server-error.js
  src/presentation/errors/unauthorized-error.js
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: prettier --write, standard --fix, npm run test:staged

EmailValidator returns false if validator returns false
  __mocks__/validator.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
  package-lock.json
  package.json
  src/utils/email-validator.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Move EmailValidator to a factory helper method
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  src/utils/email-validator.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Move EmailValitador to it's own file
  __mocks__/validator.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/utils/email-validator.js
  src/utils/email-validator.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Move EmailValitador to its own file
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov.info
Due: none

EmailValidator throws exception if email is null
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
Due: prettier --write

Move generic errors to utils folder
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/domain/usecases/auth-usecase.spec.js
  src/presentation/errors/index.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
  src/utils/errors/index.js
  src/utils/errors/invalid-param-error.js
  src/utils/errors/missing-param-error.js
Due: prettier --write, standard --fix, npm run test:staged

AuthUseCase throws MissingParamError if not email provided
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/domain/usecases/auth-usecase.spec.js
Due: prettier --write, standard --fix, npm run test:staged

AuthUseCase throws MissingParamError if not password provided
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/domain/usecases/auth-usecase.spec.js
Due: prettier --write, standard --fix, npm run test:staged

AuthUseCase calls LoadUserByEmailRepositorySpy with correct email
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/domain/usecases/auth-usecase.spec.js
Due: prettier --write, standard --fix, npm run test:staged

AuthUseCase returns null if LoadUserByEmailRepository returns null
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/domain/usecases/auth-usecase.spec.js
Due: prettier --write, standard --fix, npm run test:staged

Move AuthUseCase to its own file
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov.info
  src/domain/usecases/auth-usecase.js
  src/domain/usecases/auth-usecase.spec.js
Due: standard --fix, npm run test:staged
